html,
h1,
h3,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0eef1;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    background-color: #fffbfb;
    box-sizing: border-box;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0) 0px 1px 4px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0eef1;
}

.main__btn {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #051534;
    margin-right: 10px;
}

.main__btn:hover {
    background-color: #a09292;
}
.modal__overlay {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 62, 71, 0.5);
    z-index: 110;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.modal {
    min-width: 700px;
    min-height: 400px;
    position: fixed;
    visibility: hidden;
    z-index: 100;
    background-color: #f0eef1;
    box-sizing: border-box;
    padding-top: 60px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__title {
    font-size: 28px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #051534;
    margin-bottom: 15px;
}

.modal__input {
    box-sizing: border-box;
    width: 260px;
    height: 40px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.modal__read {
    margin-bottom: 20px;
}

.modal__read--label {
    font-size: 24px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #051534;
}

.modal__read--input {
    width: 20px;
    height: 20px;
}

.modal__btn {
    width: 92px;
    height: 42px;
    border-radius: 4px;
    border: 1px solid #0515344d;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #051534;
}

.modal__btn:hover {
    background-color: #a09292;
}

.book__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 218, 211);
    margin-bottom: 15px;
}
.btn__delete {
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    color: #051534;
    margin-bottom: 5px;
}