@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

img {
    width: 600px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 8px;
    background: #eee;
    padding: 8px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
}

ul{
    list-style: none;
    display: flex;
    gap: 8px;
    margin: 0;
    padding: 0;
}

.left-links,.right-links{
    display: flex;
    justify-content: space-evenly;
}

.header, .footer {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.footer{
    background-color: #eeeeee;
}

a:hover {
    color: seagreen;
}
a{
    text-decoration: none;
}

.content{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}